.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}
.login-form{
    background: white;
    padding: 40px;
    width: 300px;
    border-radius: 8px;
}
.login-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.login-form button{
    width: 100%;
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}
.login-form button:hover{
    background: #ff9900;

}