.signup-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(192, 190, 190);
}
.signup-page{
    background: #f4f4f4;
    padding: 40px;
    padding-right: 65px;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.signup-page button{
    background: rgb(69, 48, 48);
    color: white;
    padding:10px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.signup-page button:hover{
    background: #765a33;
}
.signup-page input{
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
}
@media(max-width:768px){
    .signup-page{
        padding: 15px;
        width: 100%;
    }
}